[Unit]
Description=Kubic Daemon to setup Kubernetes
After=local-fs.target kubicd-init.service

[Service]
Type=simple
ExecStart=/usr/sbin/kubicd

[Install]
WantedBy=multi-user.target
